<html>
    <head>
        <title>Input Test</title>
    </head>
    <body>
<h1>Welcome to Stand-Up Sommelier:</h1>
<h2>discover your comedy palate</h2>



      <h2>Content Rating:</h2>
      <form method="POST">
      <input type="checkbox" name="edge_1" value="clean"> G (clean, family-friendly)<br>
      <input type="checkbox" name="edge_2" value="PG-13"> PG-13 <br>
      <input type="checkbox" name="edge_3" value="R" checked> R<br><br>

 <h2>Joke Style:</h2>
      <input type="checkbox" name="joke_1" value="1"> one-liners
      (Short, concise)<br>
      <input type="checkbox" name="joke_2" value="2"> bits (varying length, ~1-5 minutes)<br>
      <input type="checkbox" name="joke_3" value="3" checked>
      story-tellers <br><br>
<input type="submit" value="Submit">

<h2>Subject Matter:</h2>
      <input type="checkbox" name="topic_1" value="1">
      politics/culture <br>
      <input type="checkbox" name="topic_2" value="2">
      family/relationships <br>
      <input type="checkbox" name="topic_3" value="3" checked>
      Observational/miscellaneous <br><br>
      <input type="submit" value="Submit">
      </form>
      
    </body>
</html>
